* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zain", serif;;
}

body {
  background-color: #DCDEC5;
}

/* HEADER */

header {
  background-color: #2F5231;
  padding: 10px 20px;
  align-items: center;
  color: #FFFFFF;
}

header #logo {
  border: 1px red solid;
}

nav {
  border: 1px blue solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin : 0 50px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 100px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #8ACA75;
}

/* FOOTER */

footer {
  background-color: #2F5231;
  color: #FFFFFF;
  padding: 20px;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
}